h1,
h2,
h3,
h4,
h5 {
  line-height: normal;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #e3e3e3;
  overflow: hidden;
}

.page {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

img {
  vertical-align: top;
}

/*Nav area*/
.navbar {
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 999999999;
  max-height: 70px;
  display: flex;
  align-items: center;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 70px;
  position: fixed;
  align-self: center;
  max-width: 1920px;
}

.navbar-container {
  margin: 0 20px;
}

.navbar-container .navbar-brand {
  text-decoration: none;
  font-weight: 900;
  font-size: 30px;
  font-family: var(--font-tech);
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-links {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-link {
  padding: 0 15px;
  text-decoration: none;
  color: var(--social-bg);
  font-weight: 500;
  transition: transform 0.2s ease-in-out;
}

.navbar-link:hover {
  color: var(--accent);
  transform: scale(1.1);
}

.navbar-auth-links {
  display: flex;
  gap: 25px;
  position: absolute;
  right: 0;
  margin: 0 20px;
  align-items: center;
}

.navbar-auth-links a {}

.navbar-user {
  display: flex;
  gap: 25px;
  position: absolute;
  right: 0;
  margin: 0 20px;
  align-items: center;
}

.btn {
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
  padding: 8px 20px;
}

.btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.btn-primary {
  background-color: oklch(54.6% 0.245 262.881);
  color: #fff;
  border-radius: 4px;
  align-items: center;
  border-color: transparent;
  width: 80%;
}

.btn-primary:hover {
  background-color: oklch(0.56 0.14 266.02);
}

.btn-secondary {
  background-color: var(--social-bg);
  color: #fff;
  border-radius: 4px;
  align-items: center;
}

/*Banner area*/
.banner-area {
  position: relative;
  height: 600px;
  margin-top: 70px;
}

.banner-image {
  position: absolute;
  margin: 0;
  left: 50%;
  transform: translate(-50%);
}

.banner-image::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
}

.banner-image img {}

.home-hero {
  padding: 20px;
  position: relative;
  top: 193px;
  text-align: left;
  width: 100%;
  max-width: 670px;
  left: 160px;
  opacity: 0;
  transform: translateY(30px) scale(0.9);
  transition: all 0.6s ease;
}

.home-hero.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.banner-title {
  margin: 0;
  color: #333;
  margin: 20px auto;
  line-height: normal;
  font-weight: 700;

}

.banner-title span {
  background: linear-gradient(90deg, #378ADD, #1D9E75, #D4537E, #378ADD);
  background-size: 300% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientShift 4s ease-in-out infinite;
}

@keyframes gradientShift {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.banner-subtitle {
  font-size: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
}

/*Product area*/
.product-area {
  position: relative;
  width: 100%;
  padding-top: 70px;
}

.products-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.image-wrapper {
  overflow: hidden;
  display: inline-flex;
}

.product-img {
  width: 100%;
  max-width: 420px;
  transition: transform 0.2s ease-in-out;
}

.product-img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.product-card {
  opacity: 0;
  transform: translateY(30px) scale(0.9);
  transition: all 0.6s ease;
  overflow: hidden;
}

.product-card.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.product-action {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px;
}

.product-details {
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
  font-weight: 600;
}

.product-details:hover {
  transform: scale(1.1);
}

/*Auth page*/
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
}

.auth-container {
  background: #fff;
  width: 80%;
  max-width: 500px;
  height: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
}

.page-title {
  color: var(--social-bg);
  text-align: left;
  font-size: 30px;
  font-weight: 700;
  margin: 20px 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
  margin-bottom: 15px;
}

.form-label {
  font-weight: 600;
}

.form-input {
  height: 57px;
  border: 1px solid #dadaf2;
  border-radius: 5px;
  outline: none;
  background: #f8f8fb;
  font-size: 17px;
  padding: 0px 20px;
  transition: 0.2s ease;
  color: #333;
  font-size: large;
}

.form-input:focus {
  border-color: #626cd6;
  box-shadow: 0 0 0 3px rgba(106, 100, 241, 0.2);
}

.auth-form .btn {
  width: 100%;
  max-width: fit-content;
  font-size: 20px;
  display: flex;
}

.auth-switch {
  margin: 20px 0px;
}

.auth-switch span {
  color: #626cd6;
  font-weight: 500;
  cursor: pointer;
}

.auth-switch span:hover {
  text-decoration: underline;
}

.error-message {
  color: #ff6565;
  font-weight: 500;
}

/*product details page*/

.product-detail {
  margin: 122px auto;
  position: relative;
  width: 90%;
  max-width: 1500px;
  background: #fff;
  display: flex;
  padding: 20px 20px 30px 20px;
  gap: 50px;
}

.product-detail img {
  width: 100%;
}

.product-detail-content {
  text-align: start;
}

.product-detail-content h1 {
  color: #333;
  margin-top: 0;
}

.product-price {
  font-size: 25px;
  font-weight: 700;
  color: #155dfc;
  margin-bottom: 20px;
}

.product-detail-content .btn {
  max-width: fit-content;
  font-size: 20px;
  margin-top: 30px;
}

/*Checkout page*/

.checkout-content {
  position: relative;
  margin: 30px auto 122px;
  width: 90%;
  max-width: 1100px;
  display: flex;
  padding: 20px 20px 30px 20px;
  gap: 50px;
}

.checkout-title {
  padding-top: 122px;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.checkout-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: justify;
  gap: 40px;
  background: #fff;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  margin: 0;
}

.checkout-list li:last-child {
  border: none;
}

.checkout-items-lists {
  border-bottom: 1px solid gray;
  width: 100%;
  display: flex;
  gap: 20px;
  position: relative;
}

.checkout-items-lists img {
  width: 100%;
  max-width: 250px;
  padding: 20px 0;
}

.checkout-product-name {
  color: #333;
}

.checout-product-price {
  font-weight: 700;
}

.checkout-cta-quantity {
  position: absolute;
  right: 0;
  display: flex;
  gap: 20px;
  top: 20px;
  justify-content: center;
  align-items: center;
  color: #333;
  font-weight: 500;
}

.quantity-btn {
  border: solid 1px rgba(151, 151, 156, 0.5);
  border-radius: 5px;
  width: 1.5rem;
  height: 1.5rem;
  align-content: center;
  text-align: center;
  transition: all 0.15s ease;
  user-select: none;
  background-color: #fff;
  color: #333;
}

.quantity-btn:hover {
  cursor: pointer;
  background-color: rgba(151, 151, 156, 0.5);
}

.quantity-btn:active {
  transform: scale(0.9);
  /* shrink on click */
  background-color: rgba(151, 151, 156, 0.7);
  /* slightly darker */
}

.checkout-cta-remove {
  position: absolute;
  right: 0;
  display: flex;
  gap: 20px;
  bottom: 20px;
  justify-content: center;
  align-items: center;
  color: #333;
  font-weight: 500;
}

.checkout-remove-btn {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  background: none;
  border: none;
}

.checkout-remove-btn:hover {
  transform: scale(1.1);
  filter: invert(18%) sepia(96%) saturate(7491%) hue-rotate(358deg) brightness(95%) contrast(115%);
}

.checout-item-total {
  position: absolute;
  right: 0;
  display: flex;
  gap: 20px;
  top: 70px;
  justify-content: center;
  align-items: center;
  color: #333;
  font-weight: 700;
}

.checkout-total {
  background: #fff;
  width: 100%;
  max-width: 280px;
  height: 100%;
  border-radius: 5px;
  padding: 20px 40px;
}

.checkout-total-title {
  color: #333;
  text-align: left;
}

.checkout-total p {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin: 20px 0;
}

.checkout-total p .subtotal {
  color: #333;
  font-size: 21px;
  font-weight: 700;
}

.checkout-total p .total {
  color: #1d7de5;
  font-size: 21px;
  font-weight: 700;
}

.place-order-button {
  margin: 0 auto;
  border-top: solid 1px;
  padding-top: 10px;
}

.empty-cart {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 37.5rem;
  display: flex;
}

.empty-cart p {
  margin: 20px 0;
}

.empty-cart a {
  max-width: 196px;
  font-size: 18px;
  padding: 15px;
}